<div class="container">
  <div class="row">
    <div class="card col-md-12" *ngIf="isVisible" style="background-color: #F6F3E5;">
      <div class="card-body text-center">
        <h2 class="card-title" style="margin: 10px;font-weight: bold;text-align: center;">House Name :
          <i>{{currentHouse.name || "N/A"}}
          </i>
        </h2>
        <p class="card-title" style="margin: 10px;font-weight: bold">House Region :
          <i>{{currentHouse.region || "N/A"}}</i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">House Words :
          <i>{{currentHouse.words || "N/A"}}
          </i>
        </p>
        
        
        <p class="card-title" style="margin: 10px;font-weight: bold">House Current Lord :
          <i>{{currentLord || "N/A"}}</i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">House Heir :
          <i>{{heir || "N/A"}}</i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">House Overlord :
          <i>{{overlord || "N/A"}}
          </i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">Founded :
          <i>{{currentHouse.founded || "N/A"}}</i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">Founder :
          <i>{{founder || "N/A"}}</i>
        </p>
        <p class="card-title" style="margin: 10px;font-weight: bold">Died Out :
          <i>{{currentHouse.diedOut || "N/A"}}</i>
        </p>   
        <p class="card-title" style="margin: 10px;font-weight: bold">House Coat Of Arms :
          <br><i>{{currentHouse.coatOfArms || "N/A"}}</i>
        </p>
      </div>
    </div>

    <div class="card col-md-12" *ngIf="isVisible" style="background-color: #F6F3E5;">
      <div class="card-body text-center">   
       
        <p class="card-title" style="margin: 10px;font-weight: bold"> --: House Titles :-- </p>
 
        <div class="card col-md-12" style="margin-top: 0px;"> 
              <p class="card-title"> <i [innerHtml] ="titles"></i>
        </p>
        </div>

        <p class="card-title" style="margin: 10px;font-weight: bold"> --: House Seats :-- </p>
            <div class="card col-md-12" style="margin-top: 0px;"> <p>  <i [innerHtml]="seats"></i>
        </p></div>
        <p class="card-title" style="margin: 10px;font-weight: bold"> --: Ancestral Weapons :-- </p>
            <div class="card col-md-12" style="margin-top: 0px;"> <p>  <i [innerHtml] ="ancestralWeapons"></i>
        </p></div>
        <p class="card-title" style="margin: 10px;font-weight: bold"> --: Cadet Branches :-- </p>
        <div class="card col-md-12" style="margin-top: 0px;"> <p>  <i [innerHtml] ="cadetBranches" ></i>
        </p></div>
        <p class="card-title" style="margin: 10px;font-weight: bold"> --: Sworn Members Name :-- </p>
        <div class="card col-md-12" style="margin-top: 0px;"> <p><i  [innerHtml] ="swornMembers" ></i>
        </p></div>
      </div>
    </div>
  </div>
</div>
